@import "tailwindcss";

:root {
  --foreground: #f5f5f5;
  --background: #1F1E1E;
  /* --background: #666362; */
  --text: #fff;
  --secondary:#00F5ED;
  --primary:#007c77;
}

@theme inline {
  --color-background: var(--background);
  --color-bg: var(--text);
  --color-secondary: var(--secondary);
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
